﻿@page "/"
@page "/kategorie"
@using ParkinsonPract.Shared

<PageTitle>Übungen</PageTitle>

<style>
    body {
        background: linear-gradient(18deg, #e37682, #a58fe9);
    }
</style>

<div class="kategorienliste">
    @foreach (var (route, name, icon, farbe) in Kategorien)
    {
        <Hexagon Icon="@icon" Link="@route" BackgroundColour="@farbe"><div>@((MarkupString)name)</div></Hexagon>
    }
</div>

@code
{
    List<Kategorie> Kategorien { get; set; } = new()
    {
        Kategorie.Koerperaktivierung,
        Kategorie.Stimmaktivierung,
        Kategorie.Atmung,
        Kategorie.MimikGesicht,
        Kategorie.Artikulation,
        Kategorie.Stimmkraft,
        Kategorie.Lautstaerke,
        Kategorie.Schlucken
    };
}
