﻿@page "/kategorie/koerperaktivierung"
@using ParkinsonPract.Shared

<style>
    body {
        background: linear-gradient(18deg, #e37682, #a58fe9);
    }
</style>

<h3>@Kategorie.Koerperaktivierung.Anzeigename</h3>

<div class="uebungenliste">
    @foreach (var uebung in Uebungen)
    {
        <div @onclick="() => OpenModel(uebung)" class="card" style="cursor: pointer;max-width: 200px; background-color: @Kategorie.Koerperaktivierung.Hintergrundfarbe">
            <div class="card-body">
                <h5 class="card-title">@uebung.Titel</h5>
                <p class="card-text">@uebung.Beschreibung</p>
            </div>
        </div>
    }
</div>

@if(displaymodal)
{
    <div id="modal-container" style="display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000000; background-color: rgba(0, 0, 0, 0.5); z-index: 999;">
        <button class="rounded-3" style="float: right; margin: 50px" type="button" @onclick="HideModal"><span class="oi oi-circle-x"></span> Schließen</button>
        <div class="align-middle align-content-center" style="background-color: @currentUebung.Kategorie.Hintergrundfarbe; width: 80%; height: 80%; border-radius: 50px; padding: 50px; margin: auto auto">
            <h1>@currentUebung.Titel</h1>
            <p>
                @currentUebung.Beschreibung
            </p>
            @((MarkupString)currentUebung.Video)
        </div>
    </div>
}


@code {

    List<Uebung> Uebungen { get; set; } = new()
    {
        new()
        {
            Titel = "Übung 1", 
            Beschreibung = "Übung zur Dehnung der Brustmuskulatur", 
            Kategorie = Kategorie.Koerperaktivierung,
            Video = "<iframe width=\"560\" height=\"315\" src=\"https://www.youtube-nocookie.com/embed/l3dGyh4EViY\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;\" allowfullscreen></iframe>"
        }
    };

    string ModalDisplayMode { get; set; } = "none";
    bool displaymodal;

    Uebung currentUebung = null!;

    protected override void OnInitialized()
    {
        currentUebung = Uebungen[0];
    }

    void OpenModel(Uebung inlay)
    {
        currentUebung = inlay;
        ModalDisplayMode = "block";
        displaymodal = true;
        StateHasChanged();
    }

    void HideModal()
    {
        ModalDisplayMode = "none";
        displaymodal = false;
    }

}
