﻿@inject NavigationManager Nav
    
<svg @onclick="() => Nav.NavigateTo(Link)" style="cursor: pointer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="@(DefaultWidth*scale)" height="@(DefaultHeight*scale)" viewBox="-0.5 -0.5 167 87">
    <defs>
        <filter id="dropShadow">
            <feGaussianBlur in="SourceAlpha" stdDeviation="1.7" result="blur" />
            <feOffset in="blur" dx="3" dy="3" result="offsetBlur" />
            <feFlood flood-color="#3D4574" flood-opacity="0.4" result="offsetColor" />
            <feComposite in="offsetColor" in2="offsetBlur" operator="in" result="offsetBlur" />
            <feBlend in="SourceGraphic" in2="offsetBlur" />
        </filter>
    </defs>
    <g filter="url(#dropShadow)">
        <path d="M 20 0 L 140 0 L 160 40 L 140 80 L 20 80 L 0 40 Z"
              fill="@BackgroundColour"
              stroke="#6c8ebf"
              stroke-miterlimit="10"
              pointer-events="all" />
        <g xmlns="http://www.w3.org/2000/svg" transform="translate(-0.5 -0.5)">
            <foreignObject xmlns="http://www.w3.org/2000/svg" style="overflow: visible; text-align: left;" pointer-events="none" width="100%" height="100%" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                <div xmlns="http://www.w3.org/1999/xhtml" style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 158px; height: 1px; padding-top: 40px; margin-left: 1px;">
                    <div style="box-sizing: border-box; font-size: 0px; text-align: center;" data-drawio-colors="color: rgb(0, 0, 0); ">
                        <div style="display: inline-block; font-size: 14px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                            <span class="@Icon"></span>@ChildContent
                        </div>
                    </div></div>
            </foreignObject>
        </g>
    </g>
</svg>
@code {
    private const int DefaultWidth = 167;
    private const int DefaultHeight = 87;

    int scale = 2;


    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string BackgroundColour { get; set; } = "#dae8fc";

    [Parameter]
    public string Link { get; set; } = "";

    [Parameter]
    public string Icon { get; set; } = "";

}
