﻿@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="oi oi-envelope-closed"></button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<UpdateAvailableDetector />
