﻿@using ParkinsonPract.Shared
@inject NavigationManager Nav

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="tulp2.0.png" alt="Logo" height="30" />ParkinsonPract</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/kategorie" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Übersicht
            </NavLink>
            @if (Nav.Uri.Contains("kategorie"))
            {
                <ul>
                    @foreach (var kat in Kategorie.Kategorien)
                    {
                        <li class="nav-item">
                            <NavLink class="nav-link" href="@kat.Route">
                                <span class="@kat.Icon"></span> @((MarkupString)kat.Anzeigename)
                            </NavLink>
                        </li>
                    }
                </ul>
            }
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        Nav.LocationChanged += (sender, args) => StateHasChanged();
    }

}
